// Шрифты
@mixin open-sans() {
  font-family: "Open Sans", "Arial", sans-serif;
}

@mixin montserrat() {
  font-family: "Montserrat", "Arial", sans-serif;
}

@mixin roboto() {
  font-family: "Roboto", "Arial", sans-serif;
}

@mixin sf-pro() {
  font-family: "SF Pro Text", "Arial", sans-serif;
}

@mixin pt-sans() {
  font-family: "PT Sans", "Arial", sans-serif;
}

// Модификаторы

@mixin list-reset() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin absolute-vertical-align() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-horizontal-align() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-center-align() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin hidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px !important;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
