// Шрифты
@mixin open-sans() {
  font-family: "Open Sans", "Arial", sans-serif;
}

@mixin montserrat() {
  font-family: "Montserrat", "Arial", sans-serif;
}

@mixin roboto() {
  font-family: "Roboto", "Arial", sans-serif;
}

@mixin card-gradient() {
  background: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
}

@mixin list-reset() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin absolute-vertical-align() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-horizontal-align() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-center-align() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
