// Цвета текста
$primary-dark-font: #000000;
$secondary-dark-font: #0c1111;
$third-dark-font: #333333;
$primary-light-font: #ffffff;
$secondary-light-font: #e0e0e0;
$third-light-font: #828282;
$font-color-accent: #ea5455;

// Палитра дизайна
$main-dark: #000000;
$main-light: #ffffff;
$main-accent: #ff8c00;

$interactive-color: #ea5455;

// Media
$desktop-1550-width: 1550px;
$desktop-1000-width: 1000px;
$tablet-820-width: 820px;
$tablet-width: 768px;
$mobile-550-width: 550px;
$mobile-width: 375px;

// Контейнер
$side-padding-container: 20px;
$container-width: 1680px;

// Параметры кнопок
$common-border-radius: 7px;
$transition-duration: 0.15s;
$button-disabled-opacity: 0.5;

// Цвета кнопок
$button-primary-dark: #000000;
$button-secondary-dark: #333333;
$button-secondary-hovered: #595959;
$button-down-opacity: 0.3;
