@use "../mixins" as *;
@use "../variables" as *;

.feature-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px 45px;
  border-radius: 20px;
  background: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
  
  &__title {
    font-size: 24px;
    margin: 0 0 auto;
    letter-spacing: 0.24px;
    color: inherit;
  }
  
  &__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 11px;
    letter-spacing: 0.14px;
    color: $primary-dark-font;
  }
  
  &__payment-list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    gap: 19px;
  }
  
  &__payment-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 0 5px;
    transition: color $transition-duration ease;
    letter-spacing: 0.14px;
    color: $third-dark-font;
    outline: none;
    
    &:hover, &:focus-visible {
      color: $font-color-accent;
    }
    
    @supports not selector(:focus-visible) {
      &:focus {
        color: $font-color-accent;
      }
    }
    
    &:active {
      opacity: $button-down-opacity;
    }
  }
  
  &__button-text-mobile {
    display: none;
  }
  
  &--help {
    position: relative;
    padding-top: 167px;
    
    &::before {
      position: absolute;
      top: -38px;
      left: 50%;
      width: 264px;
      height: 210px;
      content: "";
      transition: transform $transition-duration ease;
      transform: translateX(-55%);
      
      background-image: url("../images/help.png");
      background-image: image-set(
          url("../images/help@2x.webp") 2x,
          url("../images/help.webp") 1x,
          url("../images/help@2x.png") 2x,
          url("../images/help.png") 1x,
      );
      
      background-repeat: no-repeat;
      background-position: center;
    }
    
    &:hover {
      &::before {
        transform: translateX(-50%) translateY(-2%);
      }
    }
    
    @media (max-width: $desktop-1250-width) {
      padding-top: 33px;
      
      &::before {
        right: 50px;
        left: auto;
        transform: translateX(0);
      }
      
      &:hover {
        &::before {
          transform: translateY(-2%);
        }
      }
    }
    
    @media (max-width: $tablet-width) {
      padding: 0;
      background: none;
      
      &::before {
        display: none;
      }
      
      .feature-card__title {
        line-height: 26px;
      }
    }
    
    @media (max-width: $mobile-width) {
      .features__card__button {
        width: 100%;
        text-align: center;
      }
      
      .feature-card__title {
        max-width: 290px;
      }
      
      .feature-card__text {
        font-size: 16px;
        margin-top: 2px;
        margin-bottom: 15px;
      }
    }
  }
  
  &--payment {
    position: relative;
    padding-top: 33px;
    
    .feature-card__title {
      font-size: 26px;
      letter-spacing: 0.26px;
    }
    
    &::before {
      position: absolute;
      top: -45px;
      right: -14px;
      width: 229px;
      height: 255px;
      content: "";
      transition: transform $transition-duration ease;
      
      background-image: url("../images/payment.png");
      background-image: image-set(
          url("../images/payment@2x.webp") 2x,
          url("../images/payment.webp") 1x,
          url("../images/payment@2x.png") 2x,
          url("../images/payment.png") 1x,
      );
      
      background-repeat: no-repeat;
      background-position: center;
    }
    
    &:hover {
      &::before {
        transform: translateY(-2%);
      }
    }
    
    @media (max-width: $desktop-1250-width) {
      &::before {
        top: 0;
        right: 50px;
      }
    }
    
    @media (max-width: $tablet-width) {
      padding: 0;
      background: none;
      
      .feature-card__title {
        margin-bottom: 6px;
      }
      
      &::before {
        display: none;
      }
      
      .feature-card__payment-list {
        width: 100%;
        gap: 0;
      }
      
      .feature-card__payment-item:not(:last-child) {
        .feature-card__payment-link {
          &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(100vw - 20px);
            height: 1px;
            content: "";
            background-color: #ececec;
          }
        }
      }
      
      .feature-card__payment-link {
        font-size: 16px;
        font-weight: 400;
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 13px 0;
        text-decoration: none;
        letter-spacing: 0;
        
        &::before {
          @include absolute-vertical-align;
          position: absolute;
          right: 0;
          width: 20px;
          height: 20px;
          content: "";
          background-color: $third-dark-font;
          mask: url("../images/icons/arrow-more-icon.svg") no-repeat center;
        }
        
        &:hover {
          &::before {
            background-color: $font-color-accent;
          }
        }
      }
      
    }
  }
  
  &--bonus {
    position: relative;
    min-height: auto;
    padding-top: 33px;
    padding-right: 300px;
    padding-left: 55px;
    color: $primary-light-font;
    background: $main-accent;
    
    .feature-card__title {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 8px;
      letter-spacing: 0.26px;
    }
    
    .feature-card__bonus-list {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      padding: 0 0 0 20px;
    }
    
    .feature-card__bonus-item::marker {
      font-size: 12.5px;
    }
    
    &::before {
      position: absolute;
      top: 9px;
      right: 94px;
      width: 189px;
      height: 149px;
      content: "";
      transition: transform $transition-duration ease;
      
      background-image: url("../images/bonus-main.png");
      background-image: image-set(
          url("../images/bonus-main@2x.webp") 2x,
          url("../images/bonus-main.webp") 1x,
          url("../images/bonus-main@2x.png") 2x,
          url("../images/bonus-main.png") 1x,
      );
      
      background-repeat: no-repeat;
      background-position: center;
    }
    
    &::after {
      position: absolute;
      top: -18px;
      right: 36px;
      width: 330px;
      height: 216px;
      content: "";
      transition: transform 0.3s ease;
      
      background-image: url("../images/bonus-coins.png");
      background-image: image-set(
          url("../images/bonus-coins@2x.webp") 2x,
          url("../images/bonus-coins.webp") 1x,
          url("../images/bonus-coins@2x.png") 2x,
          url("../images/bonus-coins.png") 1x,
      );
      
      background-repeat: no-repeat;
      background-position: center;
    }
    
    &:hover {
      &::before {
        transform: scale(0.99);
      }
      
      &::after {
        transform: scale(1.1);
      }
    }
    
    @media (max-width: $tablet-width) {
      margin-top: -9px;
      padding: 20px 20px 30px 20px;
      
      .feature-card__title {
        font-size: 20px;
        line-height: normal;
      }
      
      &::before, &::after {
        display: none;
      }
    }
  }
  
  &--guarantee {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    min-height: auto;
    padding-right: 55px;
    padding-left: 55px;
    
    .feature-card__title {
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.26px;
    }
    
    .feature-card__text {
      max-width: 340px;
      margin: 0 30px 0 0;
    }
    
    .feature-card__button {
      position: relative;
      padding-right: 76px;
      
      &::after {
        @include absolute-vertical-align;
        position: absolute;
        right: 36px;
        width: 16px;
        height: 16px;
        content: "";
        background-color: $primary-light-font;
        mask: url("../images/icons/arrow-icon.svg") no-repeat center;
      }
    }
    
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
  
  &--return-easy {
    position: relative;
    min-height: auto;
    padding-right: 330px;
    
    .feature-card__title {
      font-size: 26px;
      font-weight: 700;
      line-height: 38px;
      margin-bottom: 12px;
      letter-spacing: 0.26px;
    }
    
    .feature-card__text {
      max-width: 400px;
      margin: 0 30px 24px 0;
    }
    
    &::before {
      position: absolute;
      top: -14px;
      right: 76px;
      width: 297px;
      height: 195px;
      content: "";
      transition: transform $transition-duration ease;
      
      background-image: url("../images/return-easy.png");
      background-image: image-set(
          url("../images/return-easy@2x.webp") 2x,
          url("../images/return-easy.webp") 1x,
          url("../images/return-easy@2x.png") 2x,
          url("../images/return-easy.png") 1x,
      );
      
      background-repeat: no-repeat;
      background-position: center;
    }
    
    &:hover {
      &::before {
        transform: translateY(-2%);;
      }
    }
    
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
  
  &--delivery {
    position: relative;
    min-height: auto;
    padding-right: 330px;
    padding-left: 55px;
    
    .feature-card__title {
      font-size: 26px;
      line-height: 38px;
      letter-spacing: 0.26px;
    }
    
    .feature-card__text {
      max-width: 305px;
      margin: 0 30px 24px 0;
    }
    
    &::before {
      position: absolute;
      top: -14px;
      right: 61px;
      width: 304px;
      height: 180px;
      content: "";
      transition: transform 0.3s ease;
      
      background-image: url("../images/delivery.png");
      background-image: image-set(
          url("../images/delivery@2x.webp") 2x,
          url("../images/delivery.webp") 1x,
          url("../images/delivery@2x.png") 2x,
          url("../images/delivery.png") 1x,
      );
      
      background-repeat: no-repeat;
      background-position: center;
    }
    
    &:hover {
      &::before {
        transform: translateX(-4%);;
      }
    }
    
    @media (max-width: $tablet-width) {
      position: relative;
      align-items: center;
      margin-top: 88px;
      padding: 150px 30px 30px;
      
      .feature-card__text {
        font-size: 16px;
        max-width: 100%;
        margin-top: 5px;
        margin-right: 0;
        margin-bottom: 17px;
        letter-spacing: 0.16px;
      }
      
      .feature-card__button-text-desktop {
        display: none;
      }
      
      .feature-card__button-text-mobile {
        display: inline;
      }
      
      .feature-card__title {
        position: absolute;
        top: -88px;
        left: 0;
      }
      
      &::before {
        top: -25px;
        right: auto;
        left: 50%;
        transform: translateX(-53%);
      }
      
      &:hover {
        &::before {
          transform: translateX(-58%);
        }
      }
    }
    
    @media (max-width: $mobile-width) {
      padding-top: 120px;
      
      .feature-card__button {
        width: 100%;
        text-align: center;
      }
      
      &::before {
        width: 260px;
        height: 143px;
        background-size: contain;
      }
    }
  }
}
