@use "../variables" as *;
@use "../mixins" as *;

.header {
  font-size: 12px;
  padding-bottom: 3px;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  
  &__container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
    @media (max-width: $tablet-width) {
      background-color: $main-dark;
    }
  }
  
  &__burger {
    display: none;
    
    @media (max-width: $tablet-width) {
      display: block;
    }
  }
  
  &__logo {
    display: inline-block;
    min-width: 170px;
    margin-right: 24px;
    transition: opacity $transition-duration ease;
    outline: none;
    
    &:hover, &:focus-visible {
      opacity: 0.8;
    }
    
    &:active {
      transition: opacity 0s ease;
      opacity: $button-down-opacity;
    }
    
    @media (max-width: $tablet-width) {
      display: flex;
      min-width: 120px;
      margin-left: 60px;
      
      img {
        display: inline-block;
        margin-bottom: -5px;
      }
    }
  }
  
  &__logo-image {
    width: 100%;
    height: auto;
  }
  
  &__catalog-button {
    font-size: 14px;
    font-weight: 700;
    position: relative;
    margin-right: 17px;
    padding: 12px 30px 12px 52px;
    color: $primary-light-font;
    border-radius: 10px;
    
    &::before, &::after {
      position: absolute;
      left: 29px;
      display: block;
      width: 16px;
      height: 2px;
      content: "";
      border-radius: 10px;
      background-color: $primary-light-font;
    }
    
    &::before {
      top: 18px;
    }
    
    &::after {
      bottom: 16px;
    }
    
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
  
  &__search {
    width: 100%;
    max-width: 643px;
    margin-right: auto;
    
    @media (max-width: $tablet-width) {
      justify-content: flex-end;
    }
  }
  
  &__user-nav {
    margin-left: 20px;
    
    @media (max-width: $tablet-width) {
      margin: 0;
    }
  }
  
  &__sup-header, &__sub-header {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
  
  &__sub-header {
    @media (max-width: $tablet-width) {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      min-height: 100vh;
      padding-top: 50px;
      padding-bottom: 20vh;
      transition: transform 0.5s ease, opacity 0.5s ease;
      transform: translateX(-100vw);
      opacity: 0;
      background-color: rgba($main-dark, 0.9);
    }
    
    &--active {
      display: flex;
      transform: translateX(0);
      opacity: 1;
    }
  }
}
