@use "../variables" as *;
@use "../mixins" as *;

.info {
  font-size: 16px;
  color: $third-dark-font;
  
  &__card {
    max-width: 1180px;
    
    &--guarantee {
      display: none;
      
      @media (max-width: $mobile-width) {
        display: block;
        
        .info__card-title {
          margin: 2.3em 0 0.5em 0;
        }
        
        .info__card-text {
          margin-top: 1.2em;
        }
        
        .info__card-button {
          width: 100%;
          text-align: center;
          
          span::after {
            right: 50px;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: -5px;
            margin-left: 24px;
            content: "";
            background: $primary-light-font;
            mask: url("../images/icons/arrow-icon.svg") no-repeat center;
          }
        }
      }
    }
    
    @media (max-width: $mobile-width) {
      &--return-easy {
        position: relative;
        margin-top: 115px;
        padding: 170px 16px 25px 16px;
        border-radius: 20px;
        
        background: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
        
        &::before {
          position: absolute;
          top: -31px;
          left: -13px;
          width: 100%;
          max-width: 286px;
          height: 192px;
          content: "";
          background: url("../images/return-easy.png") no-repeat center / contain;
        }
        
        .info__card-title {
          position: absolute;
          top: -105px;
          left: 0;
        }
        
        .info__card-list {
          margin-top: 1em;
          margin-bottom: 0;
        }
        
        .info__card-text--desktop-only {
          display: none;
        }
        
        .info__card-text--mobile {
          font-weight: 600;
          line-height: 22px;
          display: block;
          margin-top: 0;
        }
      }
      
      &--feedback {
        .info__card-title {
          margin-top: 1.4em;
        }
      }
    }
  }
  
  &__card-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
    margin: 1.8em 0 1.1em 0;
    color: inherit;
    
    @media (max-width: $tablet-width) {
      margin: 1em 0 1.1em 0;
    }
  }
  
  &__card-list {
    margin: 1.6em 0 3.3em;
    padding-left: 2em;
    
    @media (max-width: $tablet-width) {
      padding-left: 1.5em;
    }
  }
  
  &__card-item {
    &::marker {
      font-size: 12px;
    }
  }
  
  &__card-text {
    margin: 1.5em 0;
    
    &--mobile {
      display: none;
    }
  }
  
  &__card-link {
    color: inherit;
  }
  
  &__question {
    margin-top: 68px;
    padding-left: 10px;
    
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
  
  &__question-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
  
  &__question-text {
    margin: 1.5em 0;
    
    a {
      font-weight: 600;
      color: inherit;
    }
  }
}
