@use "../variables" as *;
@use "../mixins" as *;

.services {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 16px;
  row-gap: 5px;
  
  &__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 10px 5px 35px;
    min-width: 187px;
    
    &--repair {
      position: relative;
      
      &::before {
        content: "";
        width: 11px;
        height: 11px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 11px;
        background-color: $primary-light-font;
        mask: url("../images/icons/clock-icon.svg") no-repeat center;
      }
    }
  }
}
