@use "../variables" as *;
@use "../mixins" as *;

.sub-nav {
  display: flex;
  justify-content: space-between;
  
  &__list {
    @include list-reset;
    display: flex;
  }
  
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-weight: 600;
    padding: 8px 0;
  }
}
